html, body, .app, .main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    width: 100%;
    margin: -5px auto 0;
    height: 95vh;
    overflow: hidden;
    white-space: nowrap;
}

.imagesWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}